*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
body{
  overflow-x: hidden;  
  
  
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 60px;
    flex-wrap: wrap;
}
.sub_header{
    display: flex;
    list-style: none;
}
.sub_header li a{
    text-decoration: none;
    font-size: 24px;
    margin: 5px;
    color: black;
    text-transform: capitalize;

}
.sign_up{
    padding: 6px 10px;
    background-color: transparent;
    color: #000;
}
.sign_in{
    background-color: rgba(255, 68, 0, 0.852);
   
    border-radius: 5px;
    padding: 6px 10px;
    color: #000;
    transition: .43s;
}
.logo{
    max-width: 50px;
   max-height: 50px;
}
.sign_in:hover{
    background-color: rgba(15, 15, 190, 0.558);
    transition: .3s;
}
.menu div{
    display: none;
    height: 7px;
    width: 30px;
    margin: 3px;
    border-radius: 2px;
    background-color: rgba(255, 68, 0, 0.852);
}
.home div img{
    max-width: 80px;
    max-height: 80px;
}
.home h1{
    font-size: 60px;
    max-width: 400px;
    letter-spacing: 5px;
}
 h1 span{
    color: rgba(220, 118, 40, 0.971);
    letter-spacing: 5px;
} 
.e{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width: 100%;
    min-height: 80vh;
    position: relative;
}
.home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 15%;
    top: 10%;
    
}
form{
    display: flex;
    background-color: rgb(245, 248, 251);


  
}
form div {
    display: flex;
    flex-direction: column; font-size: 20px;
    margin: 10px;
}
form div input{
    width: 80%;
    border-radius: 3px;

}
.howitswork{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: rgba(232, 229, 229, 0.603);
   
}
.howitswork h2{
    font-size: 30px;
    font-weight: 1200;
    text-transform: capitalize;
}
.how{
    text-transform: uppercase;
}
.howitswork p{
    max-width: 400px;
    margin: 10px;
}
.howitswork_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.title{
    font-size: 25px;
    font-weight: 1000;
   
    
}

.fa-location-dot,.fa-calendar-check ,.fa-regular{
    font-size: 20px;
    color: orangered;
    padding: 10px;
    border-radius: 3px;
    background-color: whitesmoke;
    

}
.fa-calendar-check{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,140,27,1) 0%, rgba(236,186,17,1) 87%);
}
.fa-calendar-days:hover,.fa-location-dot:hover{
    color:white;
    background-color: orangered;
    transition: 1s;
}
.services{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.services2{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(2,250px);
    gap: 20px;
    
}
.services2 div img {
  
   width: 250px;
   height: 180px;
   border-radius: 7px;
}
.services2 div :nth-child(2){
    font-size: 17px;
    font-weight: 1000;
}
.services2 span {
    color: rgba(255, 0, 0, 0.689);
    font-size: 17px;
    font-weight: 1000;
}
.services2 div :nth-child(3){
    font-size: 10px;
   
}
.services2 button{
    width: 250px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.about :nth-child(1) {
    font-size:17px;
    color: rgb(138, 138, 138);
    text-transform: uppercase;
}
.about:nth-child(2){
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
} 
.about2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.about2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.us :nth-child(1){
    font-size:20px;
    color: rgba(253, 1, 1, 0.388);
    text-transform: uppercase;

}
.us p{
    max-width: 450px;
}
.us button{
    text-transform: capitalize;
    padding: 5px 13px;
    background-color: rgba(7, 7, 159, 0.682);
    border-radius: 5px;
}
.us{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
   
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;

}
.rev{
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.705);

}
.reviews h2 {
    font-size: 40px;
    font-weight: 1000;
}
.someone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
   
    

  

}
.sub_someone {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    padding: 10px 10px;
  
   
   
    box-shadow: 1px 4px 41px rgba(0, 0, 0, .5);

}



.sub_someone img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.name{
   font-size: 30px;
   font-weight: 500;
   font-style:italic ;
}


.sub_someone p{
    max-width: 350px;
    font-weight: 500;

}
.star .fa-star {
    font-weight: 0;
    font-size: 20px;
color: rgb(254, 210, 14);

}
/* .star :last-child{
    background-image: linear-gradient(to right, yellow 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
} */
@media (max-width:768px){
    .menu div{
        display: block;
    }

    .navbar{
        position: relative;
    }
    .sub_header {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        background-color: white;
        gap: 20px;
        min-width: 124%; 
        left: -100px;
        /* top: 60px; */
        top: -1000px;


        border-radius: 10px;
        
        z-index: 1;
        transition: 1s;
        
        
    }
    .sub_header.open {
        top: 60px;
        transition: 1s;
      

  }
   

    h1 span{
        color: white;
    
    } 
   
    .services2{
        display: grid;
        grid-template-columns: repeat(2,250px);
        grid-template-rows: repeat(3,250px);
        gap: 20px;
        
    }


    

}
@media (max-width:525px){

    .services2{
        display: grid;
        grid-template-columns: repeat(1,250px);
        grid-template-rows: repeat(6,250px);
        gap: 20px;
        
    }
    .howitswork_1{
       
        flex-wrap: wrap;
       
    }
    .someone {
        
        flex-wrap: wrap;
        justify-content: center;
    }
    


}
@media (max-width:430px){
    form{
        display: flex;
        background-color: rgb(245, 248, 251);
        flex-wrap: wrap;
    
    }
    .home h1{
        font-size: 30px;
        max-width: 400px;
        letter-spacing: 5px;
    }
    .about2{
    display: flex;
    flex-direction: column;
    }
}
@media (max-width:320px){
    .home{
        left: 0;
    }
}














